In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [7]:
import mysql.connector
from random import choice, randint

In [8]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'natasha57',
    'database': 'embraer'
}

In [9]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS dados_aleatorios (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nome VARCHAR(50),
        idade INT,
        cidade VARCHAR(50)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [10]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank']
cidades = ['Nova York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Filadélfia']

for _ in range(2000):
    nome = choice(nomes)
    idade = randint(18, 99)
    cidade = choice(cidades)

    insert_query = "INSERT INTO  dados_aleatorios (nome, idade, cidade) VALUES (%s, %s, %s)"
    data = (nome, idade, cidade)
    cursor.execute(insert_query, data)

conn.commit()

cursor.close()
conn.close()

In [12]:
# Para Pegar Dados Aleatórios do Mysql

import mysql.connector
import pandas as pd

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'natasha57',
    'database': 'embraer'
}


conn = mysql.connector.connect(**db_config)

select_query = "SELECT * FROM dados_aleatorios"
df = pd.read_sql(select_query, conn)

conn.close()

print(df)

        id     nome  idade      cidade
0        1    Alice     67     Houston
1        2    David     44  Filadélfia
2        3      Bob     78   Nova York
3        4    Frank     42   Nova York
4        5    Alice     68     Houston
...    ...      ...    ...         ...
5995  5996     Hank     60  Filadélfia
5996  5997    Grace     80   Nova York
5997  5998  Charlie     50     Phoenix
5998  5999    David     90     Chicago
5999  6000      Bob     28   Nova York

[6000 rows x 4 columns]

/var/folders/zp/1hd6qt591tg4pc07xp859dw00000gp/T/ipykernel_3118/744584606.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(select_query, conn)