In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector
from random import choice, randint

In [3]:
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'natasha57',
    'database': 'embraer'
}

In [4]:
conn = mysql.connector.connect(**db_config)
cursor = conn.cursor()

create_table_query = """
    CREATE TABLE IF NOT EXISTS dados_aleatorios (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nome VARCHAR(50),
        idade INT,
        cidade VARCHAR(50)
    );
"""

cursor.execute(create_table_query)
conn.commit()

In [5]:
nomes = ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank', 'Grace', 'Hank']
cidades = ['Nova York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Filad√©lfia']

for _ in range(2000):
    nome = choice(nomes)
    idade = randint(18, 99)
    cidade = choice(cidades)

    insert_query = "INSERT INTO  dados_aleatorios (nome, idade, cidade) VALUES (%s, %s, %s)"
    data = (nome, idade, cidade)
    cursor.execute(insert_query, data)

conn.commit()

cursor.close()
conn.close()