In [3]:
import pandas as pd

In [4]:
data = {'Nome': ['Alice', 'João', 'Ana'], 'Idade': [25, 30, 35] }

In [5]:
df = pd.DataFrame(data)             #DataFrame(df) = Tabela

In [6]:
df

    Nome  Idade
0  Alice     25
1   João     30
2    Ana     35