In [2]:
import pandas as pd

In [3]:
data1 = {
    'A': [1, 2, None, 4, 5],
    'B': [10, None, 30, 40, 50]
}
df = pd.DataFrame(data1)

In [4]:
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [ ]:
# NaN = Not a Number

In [6]:
# Preencher valores ausentes com a média de cada coluna

df.fillna(df.mean(), inplace=True) #NaN
df

     A     B
0  1.0  10.0
1  2.0  32.5
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0

In [7]:
data2 = {
    'A': [1, 2, None, 4, 5],
    'B': [10, None, 30, 40, 50]
}
df = pd.DataFrame(data2)
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [10]:
# Remover linhas com, pelo menos, 1 valor ausente

# inplace=Tru - Se True, ele vai modificar o Data Frame diretamente e não retornar uma cópia
df.dropna(inplace=True)
df

     A     B
0  1.0  10.0
3  4.0  40.0
4  5.0  50.0

In [11]:
data3 = {
    'A': [1, 2, None, 4, 5],
    'B': [10, None, 30, 40, 50]
}
df = pd.DataFrame(data3)
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [13]:
# Preecher os valores ausentes com um valor específico (por exemplo -1)

df.fillna(-1, inplace=True)
df

     A     B
0  1.0  10.0
1  2.0  -1.0
2 -1.0  30.0
3  4.0  40.0
4  5.0  50.0

In [14]:
data4 = {
    'A': [1, 2, None, 4, 5],
    'B': [10, None, 30, 40, 50]
}
df = pd.DataFrame(data4)
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [17]:
# O método isna() acha todos os valores NaN

totalNaN = df.isna().sum().sum()
totalNaN

2

In [33]:
nanSomaA = df['A'].isna().sum()
nanSomaB = df['B'].isna().sum()
nanSomaTotal = df.isna().sum().sum()


print("-"*40 )
print("| {:<15} | {:<15} |".format("Coluna", "Soma de NaN"))
print("-"*40)
print("| {:<15} | {:<15} |".format("A", nanSomaA))
print("| {:<15} | {:<15} |".format("B", nanSomaB))
print("| {:<15} | {:<15} |".format("Total Geral", nanSomaTotal))
print("-"*40)

----------------------------------------
| Coluna          | Soma de NaN     |
----------------------------------------
| A               | 0               |
| B               | 0               |
| Total Geral     | 0               |
----------------------------------------

In [28]:
data5 = {
    'A': [1, 2, None, 4, 5],
    'B': [10, None, 30, 40, 50]
}
df = pd.DataFrame(data5)
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [29]:
# Para modificar os valores ausentes em somente uma coluna

df['B'].fillna(-1, inplace=True)
df

     A     B
0  1.0  10.0
1  2.0  -1.0
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [30]:
data6 = {
    'A': [1, 2, None, 4, 5],
    'B': [10, None, 30, 40, 50]
}
df = pd.DataFrame(data6)
df

     A     B
0  1.0  10.0
1  2.0   NaN
2  NaN  30.0
3  4.0  40.0
4  5.0  50.0

In [31]:
# Preencher os valores ausentes usando outro método específico

df['A'].fillna(df['A'].median(), inplace=True)
df['B'].fillna(df['B'].ffill(), inplace=True)       #Preenchimento para a frente (foward fill)

df

     A     B
0  1.0  10.0
1  2.0  10.0
2  3.0  30.0
3  4.0  40.0
4  5.0  50.0

In [35]:
# Dados duplicados

data7 = {'A': [1, 2, 3, 4, 2, 5],
         'B': [10, 20, 30, 10, 50, 60]}


df = pd.DataFrame(data7)
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  10
4  2  50
5  5  60

In [38]:
# Mostra apenas quais colunas estão duplicadas

# duplicadas = df[df.duplicated()]
# duplicadas

valoresDuplicadas = df['A'][df['A'].duplicated()].value_counts()
valoresDuplicadas

A
2    1
Name: count, dtype: int64

In [ ]:
data8 = {'A': [1, 2, 3, 4, 2, 5],
         'B': [10, 20, 30, 10, 50, 60]}